Coding_Array_Interactive_Basic/Coding_Array_Interactive_Node_Red.json
[{"id":"3524e2b6.50c9de","type":"switch","z":"1a810f55.272361","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"temp=","vt":"str"},{"t":"cont","v":"hum=","vt":"str"},{"t":"cont","v":"photo=","vt":"str"},{"t":"cont","v":"bar=","vt":"str"},{"t":"cont","v":"dist=","vt":"str"},{"t":"cont","v":"sound=","vt":"str"},{"t":"cont","v":"touch=","vt":"str"}],"checkall":"false","repair":false,"outputs":7,"x":340,"y":80,"wires":[["e7d5e66a.2823f8"],["fa147955.3411f8"],["1e74dce1.833423"],["65320338.987d7c"],["e3d28234.f1301"],["502dd6d3.f073e8"],["7060e20b.d38c0c"]]},{"id":"e7d5e66a.2823f8","type":"change","z":"1a810f55.272361","name":"Temperature","rules":[{"t":"change","p":"payload","pt":"msg","from":"temp=","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":20,"wires":[["6e6f82dc.576f7c"]]},{"id":"fa147955.3411f8","type":"change","z":"1a810f55.272361","name":"Humidity","rules":[{"t":"change","p":"payload","pt":"msg","from":"hum=","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":60,"wires":[["a6e19e89.14d31"]]},{"id":"6e6f82dc.576f7c","type":"ui_gauge","z":"1a810f55.272361","name":"Temperature","group":"960a0440.3f7b08","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"30","colors":["#0e00b5","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":20,"wires":[]},{"id":"a6e19e89.14d31","type":"ui_gauge","z":"1a810f55.272361","name":"Humidity","group":"960a0440.3f7b08","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b50e","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":60,"wires":[]},{"id":"1e74dce1.833423","type":"change","z":"1a810f55.272361","name":"Photocell","rules":[{"t":"change","p":"payload","pt":"msg","from":"photo=","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":100,"wires":[["232bc074.8ca82"]]},{"id":"232bc074.8ca82","type":"ui_text","z":"1a810f55.272361","group":"960a0440.3f7b08","order":2,"width":0,"height":0,"name":"Brightness","label":"<h1>Indoor Brightness:<h1>","format":"<h2>{{msg.payload}}</h2>","layout":"row-center","x":750,"y":100,"wires":[]},{"id":"65320338.987d7c","type":"change","z":"1a810f55.272361","name":"Slider Position","rules":[{"t":"change","p":"payload","pt":"msg","from":"bar=","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":140,"wires":[["89572ac3.3aaec8"]]},{"id":"89572ac3.3aaec8","type":"ui_chart","z":"1a810f55.272361","name":"Slider","group":"d2714c8f.82f28","order":0,"width":0,"height":0,"label":"Slider Position","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1023","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":140,"wires":[[]]},{"id":"e3d28234.f1301","type":"change","z":"1a810f55.272361","name":"Ultrasonic","rules":[{"t":"change","p":"payload","pt":"msg","from":"dist=","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":180,"wires":[["589d6002.b0fa"]]},{"id":"589d6002.b0fa","type":"ui_chart","z":"1a810f55.272361","name":"Ultrasonic","group":"d2714c8f.82f28","order":0,"width":0,"height":0,"label":"Ultrasonic","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#fd2000","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":180,"wires":[[]]},{"id":"4b830ea3.20d65","type":"serial out","z":"1a810f55.272361","name":"","serial":"d30e2e39.727a3","x":1160,"y":360,"wires":[]},{"id":"e44d48b.9533eb8","type":"function","z":"1a810f55.272361","name":"","func":"var newmsg = {};\nnewmsg.payload = \"<r=\"+msg.payload+\">\";\nreturn newmsg;","outputs":1,"noerr":0,"x":400,"y":420,"wires":[["4b830ea3.20d65","d915ac37.825d4"]]},{"id":"75085fd3.3ef66","type":"throttle","z":"1a810f55.272361","name":"","throttleType":"time","timeLimit":"10","timeLimitType":"milliseconds","countLimit":0,"blockSize":0,"locked":false,"x":220,"y":420,"wires":[["e44d48b.9533eb8"]]},{"id":"e449ee1e.dac48","type":"throttle","z":"1a810f55.272361","name":"","throttleType":"time","timeLimit":"10","timeLimitType":"milliseconds","countLimit":0,"blockSize":0,"locked":false,"x":220,"y":480,"wires":[["468b247a.9a5bdc"]]},{"id":"468b247a.9a5bdc","type":"function","z":"1a810f55.272361","name":"","func":"var newmsg = {};\nnewmsg.payload = \"<g=\"+msg.payload+\">\";\nreturn newmsg;","outputs":1,"noerr":0,"x":400,"y":480,"wires":[["4b830ea3.20d65","d915ac37.825d4"]]},{"id":"42bc915b.ba006","type":"ui_slider","z":"1a810f55.272361","name":"Blue","label":"Blue","tooltip":"","group":"7f262795.c34038","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"255","step":1,"x":80,"y":540,"wires":[["eed24f1c.4f6e7"]]},{"id":"eed24f1c.4f6e7","type":"throttle","z":"1a810f55.272361","name":"","throttleType":"time","timeLimit":"10","timeLimitType":"milliseconds","countLimit":0,"blockSize":0,"locked":false,"x":220,"y":540,"wires":[["31fc2d3b.f34eb2"]]},{"id":"31fc2d3b.f34eb2","type":"function","z":"1a810f55.272361","name":"","func":"var newmsg = {};\nnewmsg.payload = \"<b=\"+msg.payload+\">\";\nreturn newmsg;","outputs":1,"noerr":0,"x":400,"y":540,"wires":[["4b830ea3.20d65","d915ac37.825d4"]]},{"id":"b69cf8e2.1e1528","type":"ui_switch","z":"1a810f55.272361","name":"Red","label":"Red","tooltip":"","group":"7f262795.c34038","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":90,"y":420,"wires":[["75085fd3.3ef66"]]},{"id":"33a1492a.2afcb6","type":"ui_switch","z":"1a810f55.272361","name":"Green","label":"Green","tooltip":"","group":"7f262795.c34038","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":80,"y":480,"wires":[["e449ee1e.dac48"]]},{"id":"1acdc6b9.9a4959","type":"ui_button","z":"1a810f55.272361","name":"","group":"8169fbad.ddf508","order":3,"width":0,"height":0,"passthru":false,"label":"Single LED","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":100,"y":600,"wires":[["9b751d4f.128b2"]]},{"id":"9b751d4f.128b2","type":"trigger","z":"1a810f55.272361","op1":"<ledon>","op2":"<ledoff>","op1type":"str","op2type":"str","duration":"5000","extend":false,"units":"ms","reset":"","bytopic":"all","name":"5 Second LED","x":330,"y":600,"wires":[["4b830ea3.20d65","d915ac37.825d4"]]},{"id":"99cc2379.5a067","type":"ui_text_input","z":"1a810f55.272361","name":"","label":"Screen Line 1","tooltip":"","group":"13df5061.dcfa3","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":110,"y":660,"wires":[["89e81630.22c698"]]},{"id":"89e81630.22c698","type":"function","z":"1a810f55.272361","name":"","func":"var newmsg = {};\nnewmsg.payload = \"<y=\"+msg.payload+\">\";\nreturn newmsg;","outputs":1,"noerr":0,"x":280,"y":660,"wires":[["4b830ea3.20d65","d915ac37.825d4"]]},{"id":"8db55865.903418","type":"ui_text_input","z":"1a810f55.272361","name":"","label":"Screen Line 2","tooltip":"","group":"13df5061.dcfa3","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":110,"y":720,"wires":[["538942e6.b6044c"]]},{"id":"538942e6.b6044c","type":"function","z":"1a810f55.272361","name":"","func":"var newmsg = {};\nnewmsg.payload = \"<z=\"+msg.payload+\">\";\nreturn newmsg;","outputs":1,"noerr":0,"x":280,"y":720,"wires":[["4b830ea3.20d65","d915ac37.825d4"]]},{"id":"d915ac37.825d4","type":"debug","z":"1a810f55.272361","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":660,"wires":[]},{"id":"16f0d268.789a0e","type":"ui_button","z":"1a810f55.272361","name":"Mario","group":"8169fbad.ddf508","order":3,"width":0,"height":0,"passthru":false,"label":"Mario","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"<mario>","payloadType":"str","topic":"","x":280,"y":780,"wires":[["d915ac37.825d4","4b830ea3.20d65"]]},{"id":"307caf79.c7574","type":"ui_button","z":"1a810f55.272361","name":"Tetris","group":"8169fbad.ddf508","order":3,"width":0,"height":0,"passthru":false,"label":"Tetris","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"<tetris>","payloadType":"str","topic":"","x":280,"y":820,"wires":[["d915ac37.825d4","4b830ea3.20d65"]]},{"id":"4d06b469.800b4c","type":"debug","z":"1a810f55.272361","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":880,"wires":[]},{"id":"149053cf.0f4fcc","type":"function","z":"1a810f55.272361","name":"","func":"var math = msg.payload;\nmath = eval(math);\nmsg.payload = \"<math=\"+math+\">\";\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":880,"wires":[["4d06b469.800b4c","d915ac37.825d4","4b830ea3.20d65"]]},{"id":"6acd6dc8.d555c4","type":"ui_text_input","z":"1a810f55.272361","name":"","label":"Do math","tooltip":"","group":"13df5061.dcfa3","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"1000","topic":"","x":90,"y":880,"wires":[["149053cf.0f4fcc"]]},{"id":"502dd6d3.f073e8","type":"change","z":"1a810f55.272361","name":"Microphone","rules":[{"t":"change","p":"payload","pt":"msg","from":"sound=","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":220,"wires":[["294115ba.59b01a"]]},{"id":"294115ba.59b01a","type":"ui_gauge","z":"1a810f55.272361","name":"Noise Level","group":"960a0440.3f7b08","order":0,"width":0,"height":0,"gtype":"gage","title":"Noise Level","label":"volts","format":"{{value}}","min":0,"max":"4","colors":["#00b50e","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":220,"wires":[]},{"id":"a69f32a1.1eac9","type":"serial in","z":"1a810f55.272361","name":"","serial":"d30e2e39.727a3","x":90,"y":100,"wires":[["3524e2b6.50c9de"]]},{"id":"7060e20b.d38c0c","type":"change","z":"1a810f55.272361","name":"Touch","rules":[{"t":"change","p":"payload","pt":"msg","from":"touch=","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"\"","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":260,"wires":[["e133f33f.c5ed4","31c087ad.01ecc8"]]},{"id":"e133f33f.c5ed4","type":"debug","z":"1a810f55.272361","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":300,"wires":[]},{"id":"31c087ad.01ecc8","type":"ui_text","z":"1a810f55.272361","group":"9c81ae6f.c9aaf","order":4,"width":0,"height":0,"name":"","label":"Touch Sensor Touched","format":"{{msg.payload}}","layout":"row-left","x":780,"y":260,"wires":[]},{"id":"960a0440.3f7b08","type":"ui_group","z":"","name":"Atmosphere","tab":"e697f84b.cf6f88","disp":true,"width":"8","collapse":false},{"id":"d2714c8f.82f28","type":"ui_group","z":"","name":"Charts","tab":"e697f84b.cf6f88","disp":true,"width":"12","collapse":false},{"id":"d30e2e39.727a3","type":"serial-port","z":"","serialport":"COM16","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"7f262795.c34038","type":"ui_group","z":"","name":"RGB","tab":"e697f84b.cf6f88","disp":true,"width":"6","collapse":false},{"id":"8169fbad.ddf508","type":"ui_group","z":"","name":"Misc","tab":"e697f84b.cf6f88","disp":true,"width":"6","collapse":false},{"id":"13df5061.dcfa3","type":"ui_group","z":"","name":"LCD Screen","tab":"e697f84b.cf6f88","disp":true,"width":"12","collapse":false},{"id":"9c81ae6f.c9aaf","type":"ui_group","z":"","name":"Custom","tab":"e697f84b.cf6f88","disp":true,"width":"6","collapse":false},{"id":"e697f84b.cf6f88","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
